[user]
	name = Cameron
	# email = set per device

[alias]
	c = commit
	co = checkout
	pl = pull
	ph = push
	f = fetch
	fa = fetch --all
	r = reset
	rh = reset --hard
	st = status
	df = diff
	l = log
	lo = log --oneline
	sh = show
	rb = rebase

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	followTags = true

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[core]
    excludesfile = ~/.gitignore

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[help]
    autocorrect = prompt

[include]
	path = local.gitconfig
